<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seoulapp.startpick">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".network.ApplicationController"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ui.StartupDivActivity"></activity>
        <activity android:name=".ui.SupportDetailActivity" />
        <activity android:name=".ui.WorkAreaActivity" />
        <activity android:name=".ui.WithFilterActivity" />
        <activity android:name=".ui.WithDetailActivity" />
        <activity android:name=".ui.mypage.MyPostedNoticeActivity" />
        <activity android:name=".ui.mypage.MyapageResumeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SignupActivity" />
        <activity android:name=".ui.WriteActivity" />
        <activity android:name=".ui.SignMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>